/*home*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
 text-decoration:none;
 outline:none;
  }

  header {
    width: 100%;
    justify-content: space-between;
    display:flex;
      }

  body{
    background-color:#332e61;
  }

 
  section  {
padding: 200px;
background-color:white;

  }

  h3{
    font-size: 20px;
  }

  p{
    color: white;
  }

 
  .btn {
background-color:#332e61 ;
color:white;
padding: 15px 20px;
border-radius: 10px;
cursor:pointer;
display:inline-block;
  }

  .btn :hover {
    background-color:#555;
  }

  .btn.animate-btn {
    animation: animate-outline 1s ease-out infinite;
  }
 .card p {
    color:white;
  }

  h5{
    color:white;
    font-size:17px;
  }

  
  .row {
Display: flex;
height: 88%;
align-items: center;
  }

  .col {
    width: 50%;
  }
  
  .card {
    width: 200px;
height: 230px;
display:inline-block;
border-radius: 10px;
padding: 15px 25px;
cursor:pointer;
margin: 10px 15px;
background-color:#332e61;

  }

  .card:hover {
transform: translateY(-15px)

  }

  .card1 {
    background-image: url(img/card1.jpg) ;
  }

  .card2 {
    background-image: url(img/card2.png) ;
  }

  .card3 {
    background-image: url(img/card3.png) ;
  }

  .card4 {
    background-image: url(img/card4.jpg) ;
  }



  nav {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 0;
  }

  nav ul {
display:flex;
align-items:center;
list-style: none;
  }

  nav ul a {
    color:white;
    margin: 0 25px;
    text-transform:uppercase;
    font-size: 14px;
    display:block;
      }

      nav ul a:not(.btn)::after {
background:#24154e;
height:3px;
width:0%;
display: block;
margin: 0 auto;
transition:0.3s;
      }


      nav ul a:hover::after {
        width: 100px;
      }

      @keyframes animate-outline {
        from {
outline: 0px solid white;
        }
to {
  outline:15px solid mediumpurple;
}

}

.nome {
  color:white;
}
 
h3{
  color:white;
}

.logo1 {
  height:80px;
  width:110px;
}

/*footer*/
footer{
  background-color:#24154e;
  }

  footer .container{
display:flex;
color:white;

  }

  footer .container ul  {
width:25%;
list-style: none;
  }

  footer .container h3 {
margin-bottom: 16px;
font-weight:300;
color:white;
  }

  footer .container .redesocial img {
margin-right:10px;
height:30px;
  width:30px;

  }
  
  footer .container ul > p {
    margin-bottom:40px ;

  }

  footer .container li {
    margin: 10px 0;
    color:white;
  }

  footer .container a {
color:white;

  }

  /*h4 {
   font-weight: 200px;
  }*/
 

/*end footer*/


body * {
  /* font-family: "Fira Sans", sans-serif;*/
   scroll-behavior: smooth;
 }
 

 /*header {
   background-color: #252323;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   max-width: 200%;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   z-index: 100;
   padding: 1rem;
 }
 
 
 .logo {
   width: 25%;
   padding: 1rem;
 }
 
 .logo img {
   width: 50%;
   padding: 1rem;
 }
 
 
 


 nav ul {
   display: flex;
   list-style: none;
   margin-right: 5rem;
   padding: 0;
 }
 
 nav li {
   margin-left: 15px;
 }
 
 nav a {
   text-decoration: none;
   color:black;
   font-weight: bold;
   font-size: 1.2rem;
 }
 
 nav a:hover {
   color: #2c0323;
 }
 
 main {
   background-color: #2c0323;
   width: 99%;
   margin-top: 8rem;
   display: flex;
   flex-direction: space-around;
   justify-content: center;
 }
 
 
 .banner_home {
   display: flex;
   justify-content: center;
   background-color: red #2c0323;
 }
 
 .banner_home img {
   padding: 20rem;
   width: 100vw;
   border-radius: 10rem;
 }
 
 footer{
 
 
 }
 

 

 
 .informacoes {
   font: size 24px;
   font-weight: bold;
   text-align: end;
   color: #ffd5d5;
   margin-top: 1 rem;
   margin-bottom: 1 rem;
 }
 
 /*
 .container {
   background-color: #2c0323;
   height: 50vh;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 05px;
   margin: 02px 0;
   text-decoration: none;
   color: #f3ecef;
   font-weight: bold;
   font-size: 1.2rem;
 }*/
 
 /*fale conosco*/
 * {
   box-sizing: border-box;
 }
 
 body * {
   font-family: "Fira Sans", sans-serif;
   scroll-behavior: smooth;
   position: relative;
 }
 

 
 /*
 header {
   background-color: #2c1c52;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   max-width: 200%;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
      padding: 1rem;
 }*/
 
 .logo {
   width: 25%;
   padding: 1rem;
 }
 
 .logo img {
   width: 50%;
   padding: 1rem;
 }
 

 /*
 .formularioContato {
   max-width: 900px;
   height: auto;
   float: none;
   margin: auto;
   padding: 1em;
   margin-bottom: 1em;
   border-radius: 16px;
   background: #332e61;
   box-shadow: 1px 0px 1.2px 0px #ccc;
   position: end;
 }
 .formularioContato:before {
   width: 0;
   height: 0;
   border: 15px solid transparent;
   border-bottom-color: #fff;
   content: "";
   position: absolute;
   left: 6%;
   top: -4.5%;
   margin-top: -4px;
   margin-left: 6px;
   z-index: 2;
 }
 .formularioContato label {
   float: left;
   width: 100%;
   margin: bottom 1px;
 }
 .formularioContato label span {
   width: 100%;
   float: left;
   color: white;
   margin-bottom: 7px;
   font-family: "open_sansregular";
 }
 .formularioContato label input {
   font-size: 1em;
   color: #555;
   font-family: "open_sansregular";
   outline: none;
   border: 1px #dee5ed solid;
   border-radius: 4px;
   padding: 0.6em;
   transition: 0.3s;
 }
 .formularioContato label select {
   font-size: 1em;
   color: #555;
   border: 1px #dee5ed solid;
   border-radius: 4px;
   padding: 0.6em;
   outline: none;
   transition: 0.3s;
 }
 .formularioContato label textarea {
   font-size: 1em;
   color: #555;
   border: 1px #dee5ed solid;
   border-radius: 4px;
   padding: 9em;
   outline: none;
   transition: 0.3s;
 }
 .formularioContato label input:focus {
   box-shadow: 0 0 5px 0px rgb(178, 216, 231);
   border: 2px rgb(37, 174, 230) solid;
   color: rgb(37, 174, 230);
 }
 .formularioContato label select:focus {
   box-shadow: 0 0 5px 0px rgb(178, 216, 231);
   border: 1px rgb(37, 174, 230) solid;
 }
 .formularioContato label textarea:focus {
   box-shadow: 0 0 5px 0px rgb(178, 216, 231);
   border: 1px rgb(37, 174, 230) solid;
   color: rgb(37, 174, 230);
 }
 .formularioContato button.btn-envia {
   background-color: rgb(37, 174, 230);
   width: 50%;
   display: block;
   margin: auto;
   cursor: pointer;
   border-radius: 4px;
   border: 0;
   padding: 0.8em 0em;
   color: #fff;
   font-size: 1.3em;
   font-family: "open_sansbold";
   text-align: center;
   transition: 0.3s;
 }
 .formularioContato button.btn-envia:hover {
   background-color: #24154e;
 }
 contato*/
 
 .background {
   background-image: url(img/fundo_cursos.jpg);
     background-repeat: no-repeat;
   color:white;
 }
 
 .centralizado {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: medium;
 }
 
 .section-glossario {
  color:white;
   width: fit-content;
   display: block; /* Necessário para o margin funcionar */
   margin-left: auto; /* aqui */
   margin-right: auto; /* e aqui */
 }

 .glossario {
  color:white;
 }
 
 .institucional {
   width: fit-content;
   display: flex; /* Necessário para o margin funcionar */
   margin-left: auto; /* aqui */
   margin-right: auto; /* e aqui */
 }
 
 .formularioContato {
   width: 50%;
   margin-top: 7%;
   display: flex; /* Necessário para o margin funcionar */
   margin-left: auto; /* aqui */
   margin-right: auto; /* e aqui */
 }
 
 
 
 /* ALERTA DE COOKIES */
 .box-cookies.hide {
   display: none !important;
 }
 
 .box-cookies {
   position: fixed;
   background: rgba(14, 23, 39, 0.8);
   width: 100%;
   max-width: 980px;
   z-index: 998;
   bottom: 0;
   right: 0;
   border-radius: 8px 0px 0px 0px;
   border: dashed 3px rgba(255, 255, 255, 0.6);
   border-bottom: none;
   border-right: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .box-cookies a {
   color: #fff;
   font-weight: bold;
 }
 
 .box-cookies a:hover {
   text-decoration: underline;
 }
 
 .msg-cookies,
 .box-cookies .btn-cookies {
   text-align: left;
   padding: 5px;
   color: #fff;
   font-size: 14px;
   margin-bottom: 5px;
 }
 
 .box-cookies .btn-cookies {
   cursor: pointer;
   height: auto;
   margin: 11px 10px 10px;
   padding: 3px 8px;
   border: none;
   border-radius: 5px;
 }
 
 .msg-cookies {
   padding: 8px;
 }
 
 
 
 h3{
   color:white;
 }
 
 .logo1 {
   height:80px;
   width:110px;
 }
 
 /*footer*/
 footer{
   background-color:#24154e;
   }
 
   footer .container{
 display:flex;
 color:white;
 
   }
 
   footer .container ul  {
 width:25%;
 list-style: none;
   }
 
   footer .container h3 {
 margin-bottom:16px;
 font-weight: 80;
 color:white;
   }
 
   
   footer .container .redesocial img {
 margin-right:10px;
 
   }
 
   footer .container ul > p {
     margin-bottom:40px ;
 
   }
 
   footer .container li {
     margin: 10px 0;
     color:white;
   }
 
   footer .container a {
 color:white;
 
   }

   
 /*end footer*/
 
 .cursos .cursos1 {
 display:flex;
 justify-content: space-between;
 margin:30px auto;
 }
 
 .cursos .cardcursos{
 width:30%;
 cursor:pointer;
 padding:30px;
 border-radius:15px;
 /*background:#332e61;*/
 transition:0.3s ; 
 }
 .cursos .cardcursos img{
   width:100px;
 
 }
 
 .cursos .cardcursos:hover {
   background:rgb(123, 84, 160);
   box-shadow:0px 10px 67px 8px #332e61;
 }
 
 .cursos .cardcursos .titulo {
   margin: 13px 0;
   font-weight: 600;
   color:black;
   }
 
   .cursos .cardcursos p {
     color:black;
   }
 
   /*section newsletter */

   .mensagem {
    color:white;
   }
 
   .newsletter {
     margin-top:15px;
     background-color:#332e61;
   } 

   .box-newsletter {
    color: white;
       }
   
   .newsletter .box {
     margin: 13px 0;
   }
   .newsletter .box-newsletter{
  text-align: center;
  padding:100px;
  background-image:url('./img/3d-render-modern-network-communications-background-with-plexus-design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   border-radius: 15px;
   }
 
   .newsletter .box input {
     width: 100%;
     padding: 15px;
     border-radius: 15px;
     border: none;
     outline:none;
     color:white;
     background-color:rgb(130, 120, 148);
   }
 
   .newsletter .box button {
     font-size:15px;
     border:none;
     outline:none;
    padding:15px;
    border-radius:14px;
    color: white;
    background-color:mediumpurple;
    cursor:pointer;
    }
 
    
 
 /*nossa historia*/
 .sobre .container {
  display:flex;
  align-items: center;
  justify-content: space-between;
   }

   .sobre .sobre-text {
    margin: 18px 0;
    color:#332e61;
   }

   .sobre-text p {
    color:#24154e;
   }

  

 /*fim nossa historia*/

 /*fale conosco*/
 
.contato-info{
display:flex;
justify-content: space-between;
margin-top:50px;
}
.contato-info .left-side{
  width: 50%;
  padding:30px;
  background-color:#332e61;
  border-radius: 14px;
  margin-right: 50px;
  height: fit-content;
}

.contato-info .left-side div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contato-info .left-side div i{
font-size: 24px;
margin-right: 20px;
color:white;
}

.contato-info .left-side div p{
  font-size: 17px;
   color:white;
  }
.contato-info .right-side {
width: 50%;
}
.contato-info .right-side input {
display: block;
width:100%;
margin-bottom:10px;
height: 47px;
padding: 15px;
border-radius: 9px;
transition: 0.3s;
border: 1px solid #332e61;
color: black;
font-weight: lighter;
}

.contato-info .right-side input:focus,
.contact-info .right-side textarea:focus{
  border-color:rgb(123, 84, 160)
}

.contato-info .right-side textarea{
  border: 1px solid #24154e;
  color:#24154e;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  transition: 0.3s;
}

.contact.info .right-side button {
border:none;

}
/* fim fale conosco */


 /*pagina home responsivo*/
@media screen and (min-width:250px) and (max-width:768px)  {
 /* max width = tela menores que alguma resolução*/

     .row {
    flex-direction: column;
  }
 
 
.newsletter .box-newsletter h2 {
  font-size: 2rem;
}

.newsletter .box-newsletter input {
  width:90%;

}

.newsletter .box-newsletter{
  padding:50px ;
  background: blue;
}

.newsletter .box-newsletter button {
  width: 50%;
  margin-top: 20px;
}
}

/*pagina fale conosco responsivo*/
.sobre .container {
  flex-direction: column-reverse;
}

.sobre .institucional
.sobre .sobre-text {
width: 100%;
background: blue;
}

.sobre .sobre-text {
  margin-top: 40px;
}

  /* Media query for screens with a maximum width of 768px (e.g., tablets) */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo1 {
    margin: 10px 0;
  }

  nav {
    margin-top: 10px;
  }

  .row {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }

  .newsletter .box-newsletter {
    padding: 50px;
  }

  .newsletter .box-newsletter h2 {
    font-size: 2rem;
  }

  .newsletter .box-newsletter input {
    width: 90%;
  }

  .newsletter .box-newsletter button {
    width: 50%;
    margin-top: 20px;
  }

  /* Add more responsive styles for other elements as needed */
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo1 {
    margin: 10px 0;
  }

  nav {
    margin-top: 10px;
  }

  .row {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }

  .contato-info {
    flex-direction: column;
  }

  .right-side input,
  .right-side textarea {
    width: 100%;
  }

  .right-side button {
    width: 100%;
  }

  /* Add more responsive styles for other elements as needed */
}

/* Media query for screens with a maximum width of 480px (e.g., smartphones) */
@media screen and  (min-width: 250px) and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .footer .container {
    flex-direction: column;
  }
  /* Add more responsive styles for other elements as needed */
}
